body { background-color: #fff; color: #000; }

body, p, ol, ul, td {
  font-family: Calibri, verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
}

table.overview {
  font-size: 16px;
  font-weight: bold;
}

tr td, tr th {
  border-bottom: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
}

td.right, tr.right {
  text-align:right;
}

th {
  background-color: #ccc;
  text-shadow: #fff 1px 1px 0;
  font-size: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

ul#menu {
  background-color: #444;
  color: #fff;
  padding: 10px;
  list-style: none;
  margin-top: 0;
}
ul#menu li{
  display: inline;
  margin-right: 20px;
}
ul#menu li a{
  color: #fff;
}