<p>
  <b>Name:</b>
  <%=h @fixed_expense.name %>
</p>

<p>
  <b>Amount:</b>
  <%=h @fixed_expense.amount %>
</p>


<%= link_to t('Edit'), edit_fixed_expense_path(@fixed_expense) %> |
<%= link_to 'Back', fixed_expenses_path %>