<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Moneydog</title>
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript"> google.load("jquery", "1.4.2"); </script>
  <script src="/javascripts/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
  <%= stylesheet_link_tag 'jqtouch' %>
  <%= stylesheet_link_tag 'themes/apple/theme.css' %>
  <script type="text/javascript" charset="utf-8">
  $.jQTouch({
      icon: 'jqtouch.png',
      statusBar: 'black-translucent',
      preloadImages: [
          'themes/apple/img/chevron_white.png',
          'themes/apple/img/bg_row_select.gif',
          'themes/apple/img/back_button_clicked.png',
          'themes/apple/img/button_clicked.png'
          ]
  });
  </script>
  
</head>
<body>
  <%= yield %>
</body>
</html>
